# LaTeX:
*.pdf
*.toc
*.log
*.aux
*.out
*.gz
*.toc
*.ind
*.idx
*.ilg
*.ptc
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.lof
*.lot
*.listing

LaTeX-cn/tikz/*.png
!LaTeX-cn/tikz/*.pdf
!python-matplotlib-en/mpl-image/*.pdf